<div class="center hero-unit">
  <h1>Welcome to the MLS App</h1>

  <h2>
    This is the home page for Amer Shalan's sample app for the MLS coding challenge.
  </h2>

  <%= link_to "Standings!", standings_path, class: "btn btn-large btn-primary" %>

 <%= link_to "Supporter's Shield Race!", shield_path, class: "btn btn-large btn-primary" %>
  
</div>